@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* define model *@
@* view data *@
@* write code *@
@model IEnumerable<Actor>
@{
    ViewData["Title"] = "danh sach tac gia";
}
<a asp-action="Create" class="btn btn-outline-success float-right">Add actor</a>s
<div class="row"> 
   <div class="col-md-8 offset-md-2">
       <table class="table">
              <thead> 
                  <tr class="text-center">
                      <th>@Html.DisplayNameFor(model=>model.ProfilePictureUrl)</th>
                      <th>@Html.DisplayNameFor(model=>model.FullName)</th>
                      <th>@Html.DisplayNameFor(model=>model.Bio)</th>
                      <th>Actions</th>
                  </tr>
              </thead>

              <tbody>
                @foreach(var actor in Model)
                {
                    <tr class="text-center">
                        <td class="align-middle">
                            <img class="rounded-circle" src="@actor.ProfilePictureUrl" alt="@actor.FullName" style="max-width:100px; max-height:100px" />
                        </td> 
                        <td class="align-middle">
                            @Html.DisplayFor(actorModel=>actor.FullName)
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(actorModel=>actor.Bio)
                        </td>
                        <td class="align-middle">
                            <a asp-action="Edit" asp-route-id="@actor.Id" class="btn btn-outline-primary"> <i class="bi bi-pencil-square"></i> Edit</a> |
                            <a asp-action="Detail" asp-route-id="@actor.Id" class="btn btn-outline-info"> <i class="bi bi-eye"></i> Detail</a> |
                            <a asp-action="Delete" asp-route-id="@actor.Id" class="btn btn-danger text-white"><i class="bi bi-trash"></i> Delete</a>
                        </td> 
                    </tr>
                }
            </tbody>

       </table>
   </div>
</div>
